body {
  margin: 0;
  padding: 0;
  background-color: darksalmon !important;
}

td {
  border: 1px solid black;
  padding: 15px;
}

table {
  margin: 0 auto;
}
table tbody tr td {
  border: 1px solid black;
}
